<%= form_tag '/location', method: :post, remote: true do %>
  <%= hidden_field_tag "latitude" %>
  <%= hidden_field_tag "longitude" %>
  <%= submit_tag "", :id => 'submit', :style => "display: none;" %>
<% end %>

<script>
    var lat = document.getElementById("latitude");
    var lon = document.getElementById("longitude");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
        submitLocation();
    }

    function submitLocation() {
      $("#submit").click();
    }

    getLocation();

</script>

<h1>You are in:</h1>
<h2><%=  "#{@name}" %></h2>
