<%= binding.pry %>

<h2> <%= link_to "Up_Votes", votes_up_vote_path(:neighborhood_id => @session.neighborhood_id), method: :post%> <%= @session.neighborhood.votes.up_votes %></h2>
<h2> <%= link_to "Down_Votes", votes_down_vote_path(:neighborhood_id => @session.neighborhood_id), method: :post%> <%= @session.neighborhood.votes.down_votes * -1 %></h2>
