$("body").html("<div class='main'></div>")
$(".main").append("<%= j render "you_are_here" %>")
$(".main").append("<%= j render "yelp" %>")
$(".main").append("<%= j render "housing" %>")
$(".main").append("<%= j render "votes/votes" %>")
$("body").append("<%= j render "map" %>")
