$("body").html("<div class='test'></div>")
$(".test").append("<%= j render "you_are_here" %>")
$(".test").append("<%= j render "yelp" %>")
$(".test").append("<%= j render "housing" %>")
$(".test").append("<%= j render "votes/votes" %>")
$("body").append("<%= j render "map" %>")
